.Header {
    width: 100vw;
    height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #e3eaf3;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 999;
}

.navContainer {
    max-width: 1280px;
    margin: 0rem auto;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.Logo {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    position: relative;
    cursor: pointer;
}

.Logo_Icon {
    margin: 0 .3rem;
    font-size: 1.8rem;
    position: absolute;
    bottom: 0.07rem;
    left: -2.3rem;
}

.Links {
    display: flex;
    gap: 2.5rem;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.6rem;
    text-decoration: none;

}

.navLinks li {
    list-style: none;
    font-size: 1.3rem;
    font-weight: 600;

}

.Nav_Icon {
    font-size: 1.8rem;
}

.cartDiv {
    position: relative;
}

.carItem {
    position: absolute;
    top: -.5rem;
    right: -0.4rem;
    background-color: #f49746;
    color: black;
    padding: 2px;
    border-radius: .4rem;
    font-size: 1rem;
}

.Warning {
    width: 15vw;
    position: absolute;
    font-size: 1.3rem;
    background-color: rgb(210, 91, 90);
    color: white;
    top: 4rem;
    right: 0;
    padding: .5rem;
    border-radius: .4rem;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.Warning::before {

    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    right: .8rem;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: rgb(210, 91, 90);
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}